.expected-salary {
  width: 100%;
  display: flex;
  align-items: center;

  &.is-error {
    input {
      border-color: #ffffff;
      box-shadow: 0 0 0 1px #cc7197;
    }
  }

  &.is-required {
    .expected-salary-label {
      &:before {
        content: '*';
        font-size: 1.3em;
        color: #eb5279;
      }
    }
  }

  .expected-salary-label {
    flex: none;
    min-width: 140px;
    height: 20px;
    font-weight: 400;
    white-space: nowrap;
    line-height: 20px;
    padding-left: 1px;
    padding-right: 10px;

    &:after {
      content: ' :';
    }
  }

  .expected-salary-input {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 326px;
  }

  .expected-salary-input-unit {
    margin-left: 15px;
  }
}
